extends /inc/foundation/_base.pug
block append config
  - current.id = "child" // ページのID
  - current.title = "小児矯正" // タイトル
  - current.description = "これは小児矯正についての説明文です" // 説明文
  - current.bodyClass = "child" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c.page-header-outer
    +c_page_header("pagehead-child.jpg","小児矯正")
    +c.breadcrumb
      .l-container
        span: +a("/") ホーム
        span >
        span: +a("/ortho/") 矯正治療
        span >
        span 小児矯正

block body
  section.l-main
    .l-section.is-lower.is-top
      .l-section.is-lower-inner
        +c.lower-about-top
          +img("img-cloud-blue.png").c-lower-about-top__deco
          +e.inner
            +e.conts.l-container
              +e.images
                .c-title-block
                  .c-title-block__title
                    h2.heading.is-xlg.is-xlg-left.
                      小児矯正とは
                +e.image
                  +img("img-child-top-01.jpg","小児矯正について").u-image-radius
              +e.points
                +e.point
                  +e.number
                    +e.number-inner
                      span Point
                      span 01
                  +e.text.
                    子どもの健全な成長発育を考え、それをプラス方向に変え、“永久歯を抜くことなく”、なるべく“症状の軽度のうちに対応”する矯正治療です。
                +e.point
                  +e.number
                    +e.number-inner
                      span Point
                      span 02
                  +e.text.
                    使用する矯正装置も、原則として取り外し式の装置を使いますので、従来の固定式装置と比較して、“痛みが少なく”“むし歯になりにくい”という長所もあります。
                +e.point
                  +e.number
                    +e.number-inner
                      span Point
                      span 03
                  +e.text.
                    さらに、矯正費用の“従来の半分以下（平均35万）”に抑え、支払い方法も“分割式”で、敷居の高かった矯正治療をより身近なものにしました。
                +e.point
                  +e.number
                    +e.number-inner
                      span Point
                      span 04
                  +e.text.
                    また、小児歯科の考えを取り入れた矯正治療なので、実際に本格的な矯正治療に入る前から、幼少期から、“準備期間”に入れます。<br class="u-hidden-sm">
                    “準備期間”とは、歯科医院にお子さんが慣れて、むし歯の予防とともに、歯並びに良い生活習慣を学び、実際の矯正治療が始まっても、自然に無理なく進められます。


        +c.lower-content.is-bule
          +e.inner
            .l-container
              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    こんなことでお困りのお子様におススメです
                +e.lists.u-box-shadow
                  ul
                    li
                      span 歯並びがガタガタで気になる
                    li
                      span 前歯がなかなか生えて来ない！
                    li
                      span 出っ歯になってきた！
                    li
                      span 受け口が気になる
                    li
                      span 口がいつも開いている
                    li
                      span 発音が悪い（舌足らずのような）
              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    近藤歯科クリニックの小児矯正では
                +e.text-block.u-box-shadow
                  +e.text-block-inner.
                    当クリニックは幼児期からの無理のない小児歯科治療に取り組んでいますが、むし歯治療でも、無理なく、嫌がるお子さんを押さえつけて治療したり、いきなり歯を削ったりせずに、“お子様との対話”に取り組んでいます。<br>
                    小児歯科としての方針もそのまま、小児矯正に引きつぎます。<br>
                    そして、小児矯正治療も“楽しく”、たとえ、装置を壊してしまっても、装置をちゃんと装着しいで、矯正治療が進まなくても、叱ったり、怒ったり、きびしく指導はしません。<br>
                    良い時はすごく褒め、良くない時でも、前向きに、励まし、応援いたします。<br>
                    このように、自然に無理なく、大事なお子様方のために、近藤歯科クリニックは、ただ単に“歯並びを良くする”だけでなく、お子様、お父様、お母様方とまっすぐに向き合い、ともに、心身ともに向上していけますよう、小児矯正に取り組んでおります。
              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    小児矯正の治療期間
                +e.text-block.u-box-shadow
                  +e.text-block-inner.
                    小児矯正の治療期間は従来の矯正治療よりも短めです。<br>
                    なぜならば、矯正治療を始める時期が早く、歯が動きやすい時期に動かすということ（重症化させない）、歯を原則として抜かないため、歯を動かす距離が少なくてすむため、さらに噛む機能訓練などにより、歯が動きやすくなるためです。<br>
                    一般的に個人差はありますが、子どもも大人も3年〜5年程度で平均的には4年ちょっとです。<br>
                    子どもの矯正治療の場合、治療開始時期は上下の前歯が生えてくる小学校2年生の時期で、治療終了は一番奥の永久歯（第二大臼歯）が生えてくるまでになります。

        +c.overview-number
          .c-title-block
            .l-container
              .c-title-block__title
                h2.heading.is-xlg.
                  当院の小児矯正の特徴
          +e.inner
            +e.block
              +e.texts
                +e.texts-inner
                  +e.title
                    span.c-overview-number__number 01
                    h3.heading.is-xlg.is-xlg-left 永久歯を抜かない小児矯正
                  +e.text.
                    従来の矯正治療では、永久歯を抜いて歯の並ぶスペースをつくり、歯を並べていました。<br>
                    しかし、当クリニックでは、生活習慣、食生活、お口周りの筋肉、舌の動きを変えていくことにより、より良い健全な成長発育を引きだし、歯を抜かずに矯正治療を進めていきます。
              +e.images
                +img("img-child-01.jpg","永久歯を抜かない小児矯正").u-image-radius

            +e.block
              +e.texts
                +e.texts-inner
                  +e.title
                    span.c-overview-number__number 02
                    h3.heading.is-xlg.is-xlg-left 費用を抑え、矯正治療を身近な治療に
                  +e.text.
                    矯正の費用も従来の1/2から1/3程度に抑えて、しかも、お支払いは最初に一括ではなく、矯正装置が入る毎、というように分割式にして、親御さんのご負担も少なくして、矯正治療をより身近に、早期から受けられるよう、工夫しています。
              +e.images
                +img("img-child-02.jpg","費用を抑え、矯正治療を身近な治療に").u-image-radius

            +e.block
              +e.texts
                +e.texts-inner
                  +e.title
                    span.c-overview-number__number 03
                    h3.heading.is-xlg.is-xlg-left お子様に楽しんでもらう矯正治療
                  +e.text.
                    矯正治療のイメージは、装置が痛い！期間も長くて、むし歯にもなりやすい！というイメージがありますね？<br>
                    当クリニックでは、装置も殆んど痛くなく、お子様たちが楽しく治療を受けられるよう、常に、会話、褒めて、一緒に喜んで、少し出来なかったお子様も叱らず、励まして治療を進めています。<br>
                    もちろん、お母様、お父様方とも喜びを共有いたします。
              +e.images
                +img("img-child-03.jpg","お子様に楽しんでもらう矯正治療").u-image-radius



        +c.lower-content.is-yellow
          +e.inner
            .l-container
              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    不正咬合の種類
                +e.tooth.u-box-shadow
                  +e.tooth-top-text.
                    従来子どもの不正咬合は遺伝的影響が殆んどされてきましたが、実は生活環境によるものが大きいのです。<br>
                    早期に相談していただければ、重症化せずに済むのです。遺伝的なものが出てくるのは、小学校高学年以降です。

                  +e.tooth-blocks
                    +e.tooth-block
                      +img("img-tooth-01.png","叢生（そうせい）").c-lower-content__tooth-image
                      +e.tooth-title.
                        叢生（そうせい）
                      +e.tooth-text.
                        歯が何本か重なっている状態。

                    +e.tooth-block
                      +img("img-tooth-02.png","八重歯（やえば）").c-lower-content__tooth-image
                      +e.tooth-title.
                        八重歯（やえば）
                      +e.tooth-text.
                        犬歯が叢生により、飛び出している状態

                    +e.tooth-block
                      +img("img-tooth-03.png","上顎前突（じょうがくぜんとつ）").c-lower-content__tooth-image
                      +e.tooth-title.
                        上顎前突（じょうがくぜんとつ）
                      +e.tooth-text.
                        上の前歯は前に飛び出している状態

                    +e.tooth-block
                      +img("img-tooth-04.png","下顎前突（かがくぜんとつ）").c-lower-content__tooth-image
                      +e.tooth-title.
                        下顎前突（かがくぜんとつ）
                      +e.tooth-text.
                        下の前歯が前に飛び出している状態(受け口)

                    +e.tooth-block
                      +img("img-tooth-05.png","開咬（かいこう）").c-lower-content__tooth-image
                      +e.tooth-title.
                        開咬（かいこう）
                      +e.tooth-text.
                        上下の歯を噛み合わせようとしても、噛み合わせができず、隙間が空いてしまう状態

                    +e.tooth-block
                      +img("img-tooth-06.png","過蓋咬合（かがいこうごう）").c-lower-content__tooth-image
                      +e.tooth-title.
                        過蓋咬合（かがいこうごう）
                      +e.tooth-text.
                        笑ったとき上の歯ぐきが見える状態

              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    小児矯正の治療期間
                +e.text-block.u-box-shadow
                  +e.text-block-inner.
                    実際に矯正装置を付け始めるのは、小学校2，3年が多いですが、幼児期の4歳ころから、簡単なトレーニングや、唇や舌の機能を良くしていく“矯正準備期間”が重要です。<br>
                    幼児期、できれば、お母様が妊娠され、安定期に入ったころからのお母様の受診が理想的です。

              +e.block
                +e.title
                  h3.heading.heading.is-lg.
                    歯並びの良い子どもにするには？
                +e.text-block.u-box-shadow
                  +e.text-block-inner.
                    その時期、その時期に出来ること、やらなくてはならないことがあります。<br>
                    最近は歯並びが悪くなってきている傾向が目立っていますし、歯並びが悪い、ということは、お口の機能も良くない、お口ポカン、口呼吸、嚥下（飲み込み）の問題などもある、ということです。
              +c_doctors_banner("is-sm")

    +c_relation_lg("child","is-lower","関連コンテンツ")
