extends /inc/foundation/_base.pug
block append config
  - current.id = "introduction" // ページのID
  - current.title = "院内紹介" // タイトル
  - current.description = "これは院内紹介についての説明文です" // 説明文
  - current.bodyClass = "introduction" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c.page-header-outer
    +c_page_header("pagehead-introduction.jpg","院内紹介")
    +c.breadcrumb
      .l-container
        span: +a("/") ホーム
        span >
        span 院内紹介

block body
  section.l-main
    .l-section.is-lower
      .l-section.is-lower-inner
        +c.introduction
          +e.inner
            +e.section
              .c-title-block
                .l-container
                  .c-title-block__title
                    h2.heading.is-xlg.
                      当院の設備
                  .c-title-block__lead.
                    説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテキストテキストテキスト。
              +e.conts
                .l-container
                  +e.block
                    +e.box
                      +e.images
                        +img("img-introduction-01.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          デジタルレントゲン
                        +e.text.
                          画像が鮮明で撮影後、すぐに画像がみられます。大きなモニターが各ユニットに取りつけられたので、大変患者さんに見やすくなりました。
                    +e.box
                      +e.images
                        +img("img-introduction-02.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ユニットごとにモニター
                        +e.text.
                          レントゲン写真と位相差顕微鏡の画像がこのモニターで見られます
                    +e.box
                      +e.images
                        +img("img-introduction-03.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          位相差顕微鏡
                        +e.text.
                          位相差顕微鏡で、鮮明な画像で生きたままの口腔内の細菌を、患者さん自身が観察できます。
                    +e.box
                      +e.images
                        +img("img-introduction-04.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          滅菌
                        +e.text.
                          画像が鮮明で撮影後、すぐに画像がみられます。大きなモニターが各ユニットに取りつけられたので、大変患者さんに見やすくなりました。
                    +e.box
                      +e.images
                        +img("img-introduction-05.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ウォッシャーディスインフェクタ―
                        +e.text.
                          いわゆる食洗器です。滅菌前に使用器具をこれで洗浄しています。
                    +e.box
                      +e.images
                        +img("img-introduction-06.jpg","デジタルレントゲン").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          空気清浄器
                        +e.text.
                          天井埋め込み式の本格的なものです。空気の浄化だけでなく、花粉の除去にも効果があります。

            +e.section
              .c-title-block
                .l-container
                  .c-title-block__title
                    h2.heading.is-xlg.
                      当院のギャラリー
                  .c-title-block__lead.
                    説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテキストテキストテキスト。
              +e.conts
                .l-container
                  +e.block
                    +e.box
                      +e.images
                        +img("img-introduction-07.jpg","駐車場（2台）").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          駐車場（2台）
                        +e.text.
                          2台入る駐車場がございますので、ご来院される際に、是非ご使用ください。
                    +e.box
                      +e.images
                        +img("img-introduction-08.jpg","広い待合室").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          広い待合室
                        +e.text.
                          小児矯正の患者さんは、保護者の方、ご兄弟もいらっしゃいますので、待合室は広くとっています
                    +e.box
                      +e.images
                        +img("img-introduction-09.jpg","待合室と受付").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          待合室と受付
                        +e.text.
                          待合室から受付を見たかんじです。

                    +e.box
                      +e.images
                        +img("img-introduction-10.jpg","歯ブラシと歯周病用品").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          歯ブラシと歯周病用品
                        +e.text.
                          当クリニックは小児矯正と歯周病治療に特色がありますので、グッズもそろえております。

                    +e.box
                      +e.images
                        +img("img-introduction-11.jpg","キッズスペース01").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          キッズスペース01
                        +e.text.
                          当クリニックでは、キッズスペースも待合室の一角に広めにとっております。

                    +e.box
                      +e.images
                        +img("img-introduction-12.jpg","キッズスペース02").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          キッズスペース02
                        +e.text.
                          キッズスペースを角度を変えてもう1枚撮ってみました。

                    +e.box
                      +e.images
                        +img("img-introduction-13.jpg","洗面所とトイレ").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          洗面所とトイレ
                        +e.text.
                          洗面所の奥にトイレがあります。
                          トイレは広めにゆったりととっています。
                    +e.box
                      +e.images
                        +img("img-introduction-14.jpg","ガチャガチャ").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ガチャガチャ
                        +e.text.
                          ガチャガチャは男の子用と女の子用があります。子どもたちのお楽しみです！
                    +e.box
                      +e.images
                        +img("img-introduction-15.jpg","ユニット1番").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ユニット1番
                        +e.text.
                          4台あるうち、最も広い部屋で、ユニットも脚の部分で折れていますので、お身体の不自由な方におススメです
                    +e.box
                      +e.images
                        +img("img-introduction-16.jpg","ユニット2番").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ユニット2番
                        +e.text.
                          最も新しいユニットで、今年入れたばかりです
                    +e.box
                      +e.images
                        +img("img-introduction-17.jpg","ユニット3番").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ユニット3番
                        +e.text.
                          椅子の部分がフカフカで、柔らかく、4台の中で、最も座り心地の良いユニットです。皆さん、よく眠ってしまいます
                    +e.box
                      +e.images
                        +img("img-introduction-18.jpg","ユニット4番").c-introduction__image.u-image-circle
                      +e.texts
                        +e.title.
                          ユニット4番
                        +e.text.
                          このユニットも新しく、昨年入れたばかりです。このユニットもフカフカで、座り心地、最高です。
