@charset "UTF-8";
h2.h2-F003-red {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e11e1e;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-red {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e11e1e;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-red {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e11e1e;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-orange {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ff7802;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-orange {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ff7802;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-orange {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ff7802;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-yellow {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ebb413;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-yellow {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ebb413;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-yellow {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ebb413;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-yellowgreen {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #a2c637;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-yellowgreen {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #a2c637;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-yellowgreen {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #a2c637;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-green {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #6ebd3d;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-green {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #6ebd3d;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-green {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #6ebd3d;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-aqua {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #43c2c3;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-aqua {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #43c2c3;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-aqua {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #43c2c3;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-blue {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #2d65cd;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-blue {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #2d65cd;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-blue {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #2d65cd;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-brown {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #b36211;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-brown {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #b36211;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-brown {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #b36211;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-pink {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e82c7b;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-pink {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e82c7b;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-pink {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #e82c7b;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-purple {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ac3fbd;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-purple {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ac3fbd;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-purple {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #ac3fbd;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-black {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #0f0f0f;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-black {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #0f0f0f;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-black {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: normal;
}
h2.h2-F003-colorful {
  margin-top: 0;
  text-align: center;
  padding: 20px 15px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  background: #43c2c3;
  color: #2d65cd;
  font-size: 24px;
  font-weight: normal;
}
h3.h3-F003-colorful {
  margin-top: 0;
  text-align: center;
  padding: 12px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  background: #f8e1f2;
  color: #43c2c3;
  font-size: 18px;
  font-weight: normal;
}
h4.h4-F003-colorful {
  margin-top: 0;
  text-align: center;
  padding: 7px 12px;
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  background: #e6eed3;
  color: #674937;
  font-size: 16px;
  font-weight: normal;
}