extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "voice" // ページのID
  - current.title = "患者様の声" // タイトル
  - current.description = "これは患者様の声の説明文です" // 説明文
  - current.bodyClass = "voice" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c.page-header-outer
    +c_page_header("pagehead-voice.jpg","患者様の声")
    +c.breadcrumb
      .l-container
        span: +a("/") ホーム
        span >
        span 患者様の声

block body
    .l-post-content
      +c.content-box.is-voice
        +e.inner
          +e.content
            - for (var i = 0; i<8; i++){
              +a("/voice/page/").c-content-box__block-link
                +e("span").title タイトルがここに入ります。
                +e("span").sup
                  +e("span").label.c-label.
                    カテゴリー
                  +e("span").date.
                    2019/06/08
                +e("span").name.
                  投稿者名：テキスト30~40代女性
                +e("span").text.
                  本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。一文が抜粋されてここに掲載を行います。一文が抜粋されてここに掲載を行います。一文が抜粋されてここに掲載を行います。一文が抜粋されてここに掲載を行います。⋯[続きを見る]
            - }

        +c_pagenaton()

block aside
  include /inc/layout/_aside.pug

